#**1.1 ¿Qué es Python?**#

---
Python es un lenguaje de programación muy popular creado por Guido van Rossum en 1991.

Es ampliamente utilizado para diferentes aplicaciones:
- Desarrollo de web.
- Desarrollo de software.
- Conexión de bases de datos. 
- Trabajar con diferentes tipos de datos y realizar operaciones matemáticas complejas. 
- Para prototipado rápido. 
- Etc.

Existen dos versiones de Python: Python 2 y Python 3. 
En esta clase nos enfoacremos en *Python 3*. 

Además de las diferentes aplicaciones que tiene, Python se distingue por su fácil sintáxis. Depende mas de la indentación y no tanto de paréntesis ni puntos y comas. 

Para fines prácticos, en esta clase usaremos Google Colaborative: https://colab.research.google.com/notebooks/welcome.ipynb?hl=es 

Google Colab nos permite ejecutar y programar en Python sin necesidad de instalar algo directamente en nuestra computadora. 

Sin embargo existen otros entornos para desarrollar y ejecutar nuestro código en Python, como Jupyter o Spyder.

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

# **1.2 Comentarios en Python**

---

Los comentarios se pueden utilizar para explicar cómo funciona un código o una parte de código, para no ejecutar una parte del código, etc. 

Existen dos maneras de realizar comentarios en celdas de código:
- Con un numeral "#"
- Con triple comilla """ comment """

In [ ]:
# Primera parte de código
msg = "Esta es la clase de Inteligencia Artificial :D"
print(msg)

Esta es la clase de Inteligencia Artificial :D

In [ ]:
msg = "Esta es la clase de Inteligencia Artificial :D" # Mi primer string en Python
print(msg)

Esta es la clase de Inteligencia Artificial :D

In [ ]:
"""
Nombre: Daniel López
Clase: Inteligencia Artificial. 
Título: Mi primer código en Python
"""
msg = "Esta es la clase de Inteligencia Artificial :D"
print(msg)

Esta es la clase de Inteligencia Artificial :D

# **1.3 Variables**
---
En Python, las variables nos ayudan a almacenar datos. Una ventaja en Python es que no hay que declarar las variables antes de empezar a utilizarlas, solo que hay que darles un valor predeterminado.

In [ ]:
x = 10 # entero
y = "Pancho" # cadena de caracteres
z = False # booleano
print(x)
print(y)
print(z)
type(x)

10
Pancho
False

int

In [ ]:
# Realizar operaciones con variables. 
x = 5
y = 4
z = 22

print(x + y + z)

31

In [ ]:
# Concatenar cadena de caracteres
x = "Daniel"
y = "Lopez"
print(x + " " + y)

Daniel Lopez

# **1.4 Tipos de datos**
---
Existen diferentes tipos de datos en Python, pero nosotros nos enfocaremos en: 

- Texto:	`str`
- Numericos:	`int`, `float`, `complex`
- Secuenciales:	`list`, `tuple`
- Booleanos:	`bool`

In [ ]:
# Ejemplos de datos 

x = "hola Mundo" # str
y = 5 # int
z = 65.47 # float
s = 1j # complex
a = ['manzana', 'plátano', 'naranja'] # lista
b = ('manzana', 'plátano', 'naranja') # tupla
c = True #booleano

Se pueden convertir de un tipo de dato a otro:

- `x = str(3)`
- `y = int(3)`
- `z = float(3)`

También se puede verificar el tipo de dato que contiene una variable con "`type`".

In [ ]:
# Un valor puede convertirse en diferentes tipos de datos. 
x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

# Verificar el tipo de dato con "type"
print(type(x))
print(type(y))
print(type(z))

3
3
3.0
<class 'str'>
<class 'int'>
<class 'float'>

## 1.4.1 Números

Como se mencionó anteriormente, existen tres tipos de datos numéricos:
- enteros
- flotantes
- complejos

El entero (*int*) es un número sin decimales, un número completo, negativo o positivo. 

El flotante (*float*) es un número que contiene una o mas decimales, puede tener signo positivo o negativo. 

El número complejo (*complex*) es un número con una parte real y una parte imaginaria. La parte imaginaria se escribe con la letra "j".

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

## 1.4.2 Cadena de caracteres

Una cadena de caracteres puede estar rodeada de comillas simples o dobles.

In [ ]:
a = "hello!"
b = 'hello!'

print(a)
print(b)

hello!
hello!

In [ ]:
# Strings multilinea
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

La funcion `len()` nos da la extensión de una cadena de caracteres.

In [ ]:
a = "¡La pizza de Don Cangrejo es la mejor! "
print(len(a))

39

Para unir o concatenar dos strings se puede usar el operador `+`.

In [ ]:
a = "Mi nombre es: "
b = "Daniel"
c = a + b
print(c)

Mi nombre es: Daniel

## 1.4.3 Booleanos

En programación a veces necesitamos saber si una expresión es verdadera o falsa, `True` o `False`, respectivamente.

In [ ]:
# Expresiones a ser evaluadas. 
 
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

# **1.5 Operadores**
---
Los operadores se utilizan para realizar operaciones con valores y variables. 

Los principales operadores son:
- Aritméticos
- Asignación
- Comparación
- Lógicos

In [ ]:
print(21 + 2)

23

## 1.5.1 Aritméticos

- Adición:  `+` , `x + y`
- Sustracción: `-` , `x - y`
- Multiplicación: `*` , `x * y`
- División: `/` , `x / y`
- Módulo: `%`, `x % y`
- Exponencial: `**`, `x ** y`

## 1.5.2 Asignación

- `=` ,  `x = 5` , `x = 5`
- `+=` , `x += 3`, `x = x + 3`
- `-=` , `x -= 3`, `x = x - 3`
- `*=` , `x *= 3`, `x = x * 3`
- `/=` , `x /= 3`, `x = x / 3` 

## 1.5.3 Comparación

- Igual: `==` , `x == y`
- Diferente de: `!=` , `x != y`
- Mayor que: `>` , `x > y` 
- Menor que: `<` , `x < y`
- Mayor o igual que: `>=` , `x >= y`
- Menor o igual que: `<=` , `x <= y`

## 1.5.4 Lógicos

- `and`: regresa `True` si ambas expresiones son verdaderas. 

    `x < 5 and x < 10`

- `or`: regresa `True` si una de las expresiones es verdadera. 

    `x < 5 or x < 4`

- `not`: Regresa un `False` si el resultado es `True`.

    `not (5 < 4)`



---


**M.Sc. Daniel López**

**UA: Inteligencia Artificial.**

Fuentes: 
1. w3schools.com/python/default.asp
2. codecademy.com 
3. Matthes, E. (2019). Python crash course: A hands-on, project-based introduction to programming. no starch press.